:root {
  --bg-primary: #161f50;
  --explorer-viewport-height: 100vh;
  --explorer-viewport-width: 100vw;
  --shadow-primary: #161f5080;
  --text-contrast-bg-primary: #fff;
}

.sdc-styleguide-page {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: 4rem minmax(0, 1fr);
  height: var(--explorer-viewport-height);
  overflow: hidden;
  position: relative;
  z-index: 2000;
}

.sdc-styleguide-page * {
  box-sizing: border-box;
}

.sdc-styleguide-page__explorer {
  align-items: center;
  background: var(--bg-primary);
  color: var(--text-contrast-bg-primary);
  display: flex;
  gap: 1rem;
  height: 4rem;
  padding: 0.5rem 1rem;
  width: 100%;
}

.sdc-styleguide__explorer-branding {
  align-items: center;
  display: flex;
  gap: 8px;
  flex: 0 1 auto;

  a {
    font-size: 0.875rem;
    color: inherit !important;
    font-weight: bold;
    margin: 0 !important;
    height: auto !important;
    padding: 0 !important;

    &:not(:has(img)) {
      display: none;

      @media (min-width: 620px) {
        display: block;
      }
    }
  }
}

.sdc-styleguide__explorer-separator {
  margin: 0;
  height: 100%;
  width: 1px;
}

.sdc-styleguide__explorer-branding .site-branding {
  background: none;
  height: auto;
  margin: 0;
  min-height: 0;
  min-width: 0;
  padding: 0;
  width: auto;
}

.sdc-styleguide__explorer-branding .site-branding__inner {
  height: auto;
  padding: 0;
}

.sdc-styleguide__explorer-branding .site-branding img {
  max-height: 3rem;
}

.sdc-styleguide__explorer-branding .site-branding__text {
  font-size: 1.25rem;
}

.sdc-styleguide-page__components-list {
  flex: 1 1 auto;
}

.sdc-styleguide-page__explorer-plugins {
  flex: 0 1 auto;
}

.sdc-styleguide-page__explorer-plugins:empty {
  display: none;
}

.sdc-styleguide-explorer {
  display: flex;
  gap: 1rem;
}

.sdc-styleguide-explorer h2,
.sdc-styleguide-explorer h3,
.sdc-styleguide-explorer h4,
.sdc-styleguide-explorer h5,
.sdc-styleguide-explorer h6,
.sdc-styleguide-explorer a {
  color: inherit;
  margin: 0;
  padding: 0;
}

.sdc-styleguide-explorer a {
  text-decoration: none;
}

.sdc-styleguide-explorer__group {
  font-size: 0.875rem;
  margin: 0;
  padding: 0;
  position: relative;
}

.sdc-styleguide-explorer__group-title {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25em;
}

.sdc-styleguide-explorer__group-title button {
  background: none;
  border: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
}

.sdc-styleguide-explorer__group-components {
  box-shadow: 0px 0px 13px 5px var(--shadow-primary);
  border-radius: 0 0 10px 10px;
  background: var(--bg-primary);
  display: none;
  left: -0.5rem;
  position: absolute;
  top: calc(100% + 0.5rem);
  min-width: 250%;
}

.sdc-styleguide-explorer__group-components::before {
  background: #00000001;
  bottom: 100%;
  content: '';
  height: 1rem;
  position: absolute;
  width: 100%;
}

.sdc-styleguide-explorer__group:hover .sdc-styleguide-explorer__group-components {
  display: block;
}

.sdc-styleguide-explorer__component {
  padding: 0.5rem;
}

.sdc-styleguide-explorer__component-title {
  font-size: 0.9375rem;
  font-weight: normal;
  line-height: 1.25em;
  margin: 0;
  padding: 0;
}

.sdc-styleguide-explorer__component-demos {
  font-style: italic;
}

.sdc-styleguide-explorer__component-demos ul {
  margin: 0;
}

.sdc-styleguide-explorer__demo-link:hover,
.sdc-styleguide-explorer__demo-link--active {
  text-decoration: underline;
}

.sdc-styleguide-page__content {
  background: #f4f4f4;
}

.sdc-styleguide-page__viewer-wrapper {
  align-items: stretch;
  display: flex;
  height: 100%;
  margin: 0 auto;
  min-width: 340px;
  max-width: 100%;
}

.sdc-styleguide-viewer {
  height: 100%;
  margin: 0 auto;
  max-width: 100%;
  overflow: auto;
  width: 100%;
}

.sdc-styleguide-page__viewer-resizer-wrapper {
  border-left: 1px solid #000;
  cursor: w-resize;
  display: flex;
  flex: 0 0 20px;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.sdc-styleguide-page__viewer-resizer {
  fill: currentColor;
  height: auto;
  transform: scale(1, 2);
  width: 100%;
  z-index: 100;
}

.sdc-styleguide-viewer__iframe {
  border: 0;
  display: block;
  position: static;
  height: 100%;
  width: 100%;
}

.sdc-styleguide-page__viewer-wrapper--resizing {
  .sdc-styleguide-viewer__iframe {
    pointer-events: none;
  }
}


/**
  * Drupal live announce is adding 1px at the bottom of the page that is causing
  * the scrollbar to show. This is a workaround to fix that.
 */
.path-styleguide #drupal-live-announce {
  bottom: 0;
}
