html body {
  background: none;
}

.path-styleguide .block-system-main-block,
.path-styleguide .region--content {
  margin: 0;
}

.sdc-styleguide-pattern {
  --s: 15px;
  --c1: #ffffff;
  --c2: #f2f2f2;
  --g: #0000 45%, var(--c1) 46% 54%,#0000 55%;
  background: linear-gradient( 60deg,var(--g)), linear-gradient(-60deg,var(--g)) var(--c2);
  background-size: var(--s) calc(tan(60deg)*var(--s));
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 4rem 2rem;
}
